<%= form_for(@list) do |f| %>
<ul>
  <% @list.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :desc %><br />
  <%= f.text_area :desc %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
