<h1><%= @list.name %></h1>
<p> <%= @list.desc %> </p>
<%= link_to "Edit List", edit_grocery_list_path(@list) %>
|
<%= link_to "Delete List", grocery_list_path(@list), method: :delete, data: { confirm: "You are deleting #{@list.name}. Do you really want to?" } %>
<br /> <br />
<%= link_to "< Back to all Grocery Lists", grocery_lists_path %>
