<h1><%= @list.name %></h1>
<p> <%= @list.desc %> </p>
<%= link_to "Edit List", edit_grocery_list_path(@list) %>
|
<%= link_to "Delete List", grocery_list_path(@list), method: :delete, data: { confirm: "You are deleting #{@list.name}. Do you really want to?" } %>
<br /><br />

<% if !@list.items.empty? %>
<table class="items">
<tr><th>Fresh Produce</th><th>Grains</th></tr>
<tr>
  <td>
    <ul>
    <!-- If @list.items .categories includes fresh produce -->
    <!-- List each of them as a <li> element -->
    </ul>
  </td>
  <td>
    <ul>
      <!-- If @list.items .categories includes grains -->
      <!-- List each of them as a <li> element -->
    </ul>
  </td>
</tr>
<tr class="break"><td colspan="2"></td></tr>
<tr><th>Meat/Fish</th><th>Dairy/Eggs</th></tr>
<tr>
  <td>
    <ul>
      <!-- If @list.items .categories includes meat/fish -->
      <!-- List each of them as a <li> element -->
    </ul>
  </td>
  <td>
    <ul>
      <!-- If @list.items .categories includes dairy/eggs -->
      <!-- List each of them as a <li> element -->
    </ul>
  </td>
</tr>
<tr class="break"><td colspan="2"></td></tr>
<tr><th>Snacks</th><th>Canned/Jar</th></tr>
<tr>
  <td>
    <ul>
      <!-- If @list.items .categories includes snacks -->
      <!-- List each of them as a <li> element -->
    </ul>
  </td>
  <td>
    <ul>
      <!-- If @list.items .categories includes canned/jar  -->
      <!-- List each of them as a <li> element -->
    </ul>
  </td>
</tr>
<tr class="break"><td colspan="2"></td></tr>
<tr><th>Baking</th><th>Frozen</th></tr>
<tr>
  <td>
    <ul>
      <!-- If @list.items .categories includes baking -->
      <!-- List each of them as a <li> element -->
    </ul>
  </td>
  <td>
    <ul>
      <!-- If @list.items .categories includes frozen -->
      <!-- List each of them as a <li> element -->
    </ul>
  </td>
</tr>
<tr class="break"><td colspan="2"></td></tr>
<tr><th>Misc.</th></tr>
<tr><td>
  <ul>
    <!-- If @list.items .categories includes misc -->
    <!-- List each of them as a <li> element -->
  </ul>
</td></tr>
</table>

<% end %>

<br />

<%= link_to "< Back to all Grocery Lists", grocery_lists_path %>
