<h1><%= @list.name %></h1>
<p> <%= @list.desc %> </p>
<%= link_to "Edit List", edit_grocery_list_path(@list) %>
|
<%= link_to "Delete List", grocery_list_path(@list), method: :delete, data: { confirm: "You are deleting #{@list.name}. Do you really want to?" } %>
<br /><br />

<table class="items">
  <% Category.all.each do |category| %>
  <tr><th> <%= category.name %> </th></tr>
  <tr><td><ul>
    <% if @list.items.where(category_id: category.id).empty? %>
    <em> None yet </em>
    <% else %>
    <% @list.items.where(category_id: category.id).each do |item| %>
    <li> <%= item.name %> </li>
    <% end %>
    <% end %>
  </ul></td></tr>
  <tr class="break"></tr>
  <% end %>
</table>

<br />

<%= link_to "< Back to all Grocery Lists", grocery_lists_path %>
