<h1> Add a new item </h1>
<%= form_for(@item) do |f| %>
  <ul>
  <% @item.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= select_tag("categories", options_from_collection_for_select(@categories, "id", "name")) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
