<!DOCTYPE html>
<html>
  <head>
    <title>Grocery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
<br />
    <div id="container">
      <ul id="nav">
        <li id="logo"><a href="/">Grocery</a></li>
        <li><a href="#">My Lists</a></li>
        <li><a href="#">My Recipes</a></li>
      </ul>

      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
